html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
::selection {
  background: #111;
  color: #eee;
  text-shadow: none;
}
::-moz-selection {
  background: #111;
  color: #eee;
  text-shadow: none;
}
:hover,
:focus {
  outline: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
button,
input {
  line-height: normal;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
a,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
}
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button {
  display: none;
}
figure {
  margin: 0;
}
.clearfix,
.teaser-paginator,
.container {
  clear: both;
}
.clearfix:before,
.teaser-paginator:before,
.container:before,
.clearfix:after,
.teaser-paginator:after,
.container:after {
  content: '.';
  display: block;
  height: 0;
  overflow: hidden;
}
.clearfix:after,
.teaser-paginator:after,
.container:after {
  clear: both;
}
body {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 9px;
  color: #929191;
}
a {
  color: inherit;
  text-decoration: none;
}
strong {
  font-weight: bold;
}
.strong-title {
  color: #000;
}
.link {
  text-decoration: underline;
  color: #00f;
}
.mail-link {
  text-decoration: underline;
  color: #00f;
}
.teaser-link {
  color: #f08700;
}
.main-title {
  margin-top: 41px;
  border-top: solid 5px #f08700;
  border-bottom: solid 2px #f08700;
  color: #f08700;
  padding: 7px 0 7px 2px;
  font-size: 11px;
  font-weight: bold;
}
.highlight-title {
  margin-top: 20px;
  color: #f08700;
  font-size: 11px;
  font-weight: bold;
}
.plain {
  margin: 22px 0 0 0;
  line-height: 18px;
  font-size: 11px;
  text-align: justify;
}
.company-info {
  font-size: 11px;
  font-weight: bold;
  line-height: 20px;
  margin-top: 15px;
}
.slider {
  margin: 10px 0;
}
.slider-container {
  overflow: hidden;
  position: relative;
  height: 389px;
}
.slider-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background: url("../../img/slide1.jpg") center center;
  font-size: 50px;
}
.slider-item.current {
  z-index: 5;
}
.slider-item.prev {
  z-index: 4;
}
.slider-bullets {
  margin: 10px 0 0;
  text-align: center;
}
.slider-bullets .slider-bullet {
  display: inline-block;
  margin: 0 2px;
  width: 8px;
  height: 8px;
  background: #808080;
}
.info-list {
  width: 200px;
  float: left;
  font-size: 11px;
  margin: 25px 20px 20px 0;
}
.info-list .info-list-title {
  font-weight: bold;
}
.info-list dt {
  margin-bottom: 10px;
}
.inherit {
  width: inherit;
}
.info-space {
  padding-top: 17px;
}
.header-nav {
  margin-top: 20px;
  float: right;
  clear: right;
}
.nav-item {
  display: inline-block;
  margin-left: 22px;
}
.nav-item:hover {
  color: #000;
}
.nav-color {
  margin-top: 26px;
}
.color-item {
  position: relative;
  margin-left: 15px;
  float: left;
  color: #fff;
}
.color-item:nth-child(1) {
  background-color: #608222;
}
.color-item:nth-child(2) {
  background-color: #c64f2e;
}
.color-item:nth-child(3) {
  background-color: #e7af3e;
}
.color-item:nth-child(4) {
  background-color: #007daa;
}
.color-item:nth-child(5) {
  background-color: #6e5780;
}
.color-item:first-child {
  margin-left: 0;
}
.umwelt:after {
  width: 0;
  height: 0;
  border-left: 17px solid transparent;
  border-right: 17px solid transparent;
  position: absolute;
  border-top: 13px solid #608222;
  content: "";
  top: 24px;
  left: 45px;
}
.energie:after {
  width: 0;
  height: 0;
  border-left: 17px solid transparent;
  border-right: 17px solid transparent;
  position: absolute;
  border-top: 13px solid #c64f2e;
  content: "";
  top: 24px;
  left: 45px;
}
.arbeit:after {
  width: 0;
  height: 0;
  border-left: 17px solid transparent;
  border-right: 17px solid transparent;
  position: absolute;
  border-top: 13px solid #e7af3e;
  content: "";
  top: 24px;
  left: 45px;
}
.qualitat:after {
  width: 0;
  height: 0;
  border-left: 17px solid transparent;
  border-right: 17px solid transparent;
  position: absolute;
  border-top: 13px solid #007daa;
  content: "";
  top: 24px;
  left: 45px;
}
.internationale:after {
  width: 0;
  height: 0;
  border-left: 17px solid transparent;
  border-right: 17px solid transparent;
  position: absolute;
  border-top: 13px solid #6e5780;
  content: "";
  top: 24px;
  left: 45px;
}
.color-link {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: table-cell;
  vertical-align: middle;
  padding: 0 7px;
  height: 24px;
  width: 133px;
  letter-spacing: -1px;
  text-transform: uppercase;
}
.display-container {
  margin-top: 10px;
  width: 432px;
  min-height: 400px;
  display: block;
}
.credentials-page {
  width: 464px;
}
.display-item {
  cursor: pointer;
  float: left;
  opacity: 0.6;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
  filter: alpha(opacity=60);
  margin: 0 5px 6px 0;
}
.display-item.active {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.display-item.active .display-info {
  display: block;
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.display-item:hover {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.display-info {
  position: absolute;
  width: 280px;
  right: 0;
  top: 83px;
  display: none;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-animation: show 0.5s;
  -moz-animation: show 0.5s;
  -o-animation: show 0.5s;
  -ms-animation: show 0.5s;
  animation: show 0.5s;
}
.display-info img {
  float: right;
}
.credentials-info {
  padding: 0 0 0 29px;
}
.credendials-item {
  padding: 41px 39px 0 0;
}
.teaser-paginator {
  margin-top: 57px;
  width: 726px;
}
.teaser-item {
  width: 226px;
  float: left;
  margin-right: 24px;
}
.last-teaser-item {
  margin-right: 0;
}
.teaser-caption {
  margin-top: 11px;
  font-size: 11px;
}
.teaser-menu {
  width: 281px;
  height: 77px;
  float: left;
  border-top: 1px solid;
  border-bottom: 1px solid;
  padding-bottom: 12px;
}
.teaser-menu-item {
  padding-top: 12px;
  font-size: 11px;
}
.teaser-menu-item:hover {
  color: #000;
}
@-moz-keyframes show {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
  100% {
    opacity: 100%;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10000%)";
    filter: alpha(opacity=10000%);
  }
}
@-webkit-keyframes show {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
  100% {
    opacity: 100%;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10000%)";
    filter: alpha(opacity=10000%);
  }
}
@-o-keyframes show {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
  100% {
    opacity: 100%;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10000%)";
    filter: alpha(opacity=10000%);
  }
}
@keyframes show {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
  100% {
    opacity: 100%;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10000%)";
    filter: alpha(opacity=10000%);
  }
}
html {
  position: relative;
  min-height: 100%;
}
html:before {
  content: '';
  position: absolute;
  top: -15px;
  bottom: -15px;
  -webkit-box-shadow: 0 0 15px 10px rgba(0,0,0,0.2);
  box-shadow: 0 0 15px 10px rgba(0,0,0,0.2);
  z-index: -1;
  left: 0;
}
html:after {
  content: '';
  position: absolute;
  top: -15px;
  bottom: -15px;
  -webkit-box-shadow: 0 0 15px 10px rgba(0,0,0,0.2);
  box-shadow: 0 0 15px 10px rgba(0,0,0,0.2);
  z-index: -1;
  right: 0;
}
body {
  padding-bottom: 50px;
}
.container {
  width: 726px;
  margin: 0 auto;
  display: block;
  position: relative;
}
.min-height {
  min-height: 440px;
}
.header-container {
  height: 93px;
  border-bottom: solid 1px #ffa500;
}
.logo {
  width: 148px;
  height: 44px;
  background-image: url("../img/logo.png");
  text-indent: -99999px;
  float: left;
  margin: 37px 0 0 2px;
}
.select-lang {
  display: block;
  float: right;
  margin-top: 14px;
}
.select-lang-container {
  width: inherit;
  height: inherit;
  float: right;
}
.lang-item {
  padding-left: 4px;
  float: left;
  display: block;
}
.lang-item:first-child {
  border-right: solid 1px #bbbcbc;
  padding-right: 4px;
}
.lang-link {
  float: left;
  text-decoration: none;
}
.lang-link.active {
  font-weight: bold;
}
.global-search {
  margin-top: 9px;
  float: right;
  clear: right;
}
.global-search-input {
  width: 133px;
  height: 17px;
  border: solid 1px #bbbcbc;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 10px;
  color: #929191;
  padding-left: 2px;
}
.header-nav {
  margin-top: 20px;
  float: right;
  clear: right;
}
.nav-item {
  display: inline-block;
  margin-left: 22px;
}
footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  color: #fff;
  background-color: rgba(0,0,0,0.15);
  overflow: hidden;
  margin: 85px 0 0;
}
footer .container {
  padding: 0 29px 0 14px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 35px;
  background-color: #f08700;
}
.footer-contact {
  float: right;
  margin: 13px 0 0 30px;
}
.contact-item {
  display: inline-block;
  margin-left: 30px;
}
.copyright-info {
  float: left;
  color: #fff;
  line-height: 35px;
}
.col-main {
  width: 427px;
}
.shelf {
  margin-top: 32px;
  overflow: hidden;
  -webkit-animation: show 0.8s;
  -moz-animation: show 0.8s;
  -o-animation: show 0.8s;
  -ms-animation: show 0.8s;
  animation: show 0.8s;
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.shelf-item {
  cursor: pointer;
  float: left;
  margin: 0 58px 33px 0;
  width: 95px;
  line-height: 16px;
  font-size: 11px;
}
.invisible {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  display: none;
}
.invisible-shelf {
  margin-top: 10px;
  width: 460px;
  display: block;
}
.bt-shelf {
  font-weight: bold;
  font-size: 11px;
  color: #000;
  cursor: poiter;
}
.display-download {
  position: absolute;
  width: 280px;
  right: 0;
  top: 83px;
  display: none;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-animation: show 0.5s;
  -moz-animation: show 0.5s;
  -o-animation: show 0.5s;
  -ms-animation: show 0.5s;
  animation: show 0.5s;
}
.display-download.active {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  display: block;
}
.teaser-box {
  overflow: hidden;
  margin: 13px 0 0;
}
.teaser-box .main-title:first-of-type {
  margin-top: 0;
}
.colored-teaser {
  display: block;
}
.teaser-description {
  float: right;
  display: block;
  width: 432px;
  padding-top: 12px;
  border-top: 1px solid;
  font-size: 11px;
  font-weight: bold;
  text-align: justify;
  line-height: 22px;
}
.umwelt-styles .main-title {
  color: #608222;
  border-color: #608222;
  border-bottom: none;
}
.umwelt-styles .teaser-menu {
  border-color: #608222;
}
.umwelt-styles .teaser-description {
  border-color: #608222;
}
.umwelt-styles .internal-top {
  border-color: #608222;
}
.umwelt-styles .highlight-title {
  color: #608222;
}
.energie-styles .main-title {
  color: #c64f2e;
  border-color: #c64f2e;
  border-bottom: none;
}
.energie-styles .teaser-menu {
  border-color: #c64f2e;
}
.energie-styles .teaser-description {
  border-color: #c64f2e;
}
.energie-styles .internal-top {
  border-color: #c64f2e;
}
.energie-styles .highlight-title {
  color: #c64f2e;
}
.arbeit-styles .main-title {
  color: #e7af3e;
  border-color: #e7af3e;
  border-bottom: none;
}
.arbeit-styles .teaser-menu {
  border-color: #e7af3e;
}
.arbeit-styles .teaser-description {
  border-color: #e7af3e;
}
.arbeit-styles .internal-top {
  border-color: #e7af3e;
}
.arbeit-styles .highlight-title {
  color: #e7af3e;
}
.qualitat-styles .main-title {
  color: #007daa;
  border-color: #007daa;
  border-bottom: none;
}
.qualitat-styles .teaser-menu {
  border-color: #007daa;
}
.qualitat-styles .teaser-description {
  border-color: #007daa;
}
.qualitat-styles .internal-top {
  border-color: #007daa;
}
.qualitat-styles .highlight-title {
  color: #007daa;
}
.internationale-styles .main-title {
  color: #6e5780;
  border-color: #6e5780;
  border-bottom: none;
}
.internationale-styles .teaser-menu {
  border-color: #6e5780;
}
.internationale-styles .teaser-description {
  border-color: #6e5780;
}
.internationale-styles .internal-top {
  border-color: #6e5780;
}
.internationale-styles .highlight-title {
  color: #6e5780;
}
.article {
  float: right;
  display: none;
  width: 432px;
  font-size: 11px;
  font-weight: bold;
  text-align: justify;
  line-height: 22px;
}
.article:target {
  display: block;
}
.internal-top {
  border-top: 1px solid;
  border-bottom: 1px solid;
  height: 82px;
  padding-top: 7px;
  font-weight: initial;
}
.teaser-info {
  display: none;
  margin-top: 12px;
  background-color: #eaecdf;
  float: left;
  width: 257px;
  padding: 12px 12px;
  line-height: 18px;
}
.teaser-info a {
  font-size: 11px;
  margin-bottom: 12px;
}
.teaser-info img {
  margin: 20px 0 18px 80px;
}
.teaser-info .underline {
  text-decoration: underline;
  margin-left: 10px;
}
