/*
 * Equalizr - v0.9
 *
 * author: Acauã Montiel <contato@acauamontiel.com.br>
 */

selection()
	background #111
	color #eee
	text-shadow none

::selection
	selection()

::-moz-selection
	selection()

:hover,
:focus
	outline none
	-webkit-tap-highlight-color rgba(0, 0, 0, 0)

button,
input
	line-height normal
	border none
	-webkit-border-radius 0
	-moz-border-radius 0
	border-radius 0
	-webkit-appearance none
	-moz-appearance none
	appearance none

a,
button,
input[type="button"],
input[type="reset"],
input[type="submit"]
	cursor pointer

input[type=search]
	&::-webkit-search-decoration,
	&::-webkit-search-cancel-button
		display none

figure
	margin 0
