.info-list
	width 200px
	float left
	font-size 11px
	margin 25px 20px 20px 0

	.info-list-title
		font-weight bold

	dt
		margin-bottom 10px

.inherit
	width inherit

.info-space
	padding-top: 17px;


.header-nav
	margin-top 20px
	float right
	clear right

.nav-item
	display inline-block
	margin-left 22px

	&:hover
		color #000


// nav sizes according psd
$width = 133px
$height = 24px

.nav-color
	margin-top 26px

.color-item
	position relative
	margin-left 15px
	float left
	color white

	for n in (0..4)
		&:nth-child({n+1})
			background-color $color-theme[n]
	&:first-child
		margin-left 0

.umwelt

	&:after
		width: 0
		height: 0
		border-left: 17px solid transparent
		border-right: 17px solid transparent
		position absolute
		border-top 13px solid $color-theme[0]
		content ""
		top 24px
		left 45px

.energie

	&:after
		width: 0
		height: 0
		border-left: 17px solid transparent
		border-right: 17px solid transparent
		position absolute
		border-top 13px solid $color-theme[1]
		content ""
		top 24px
		left 45px

.arbeit

	&:after
		width: 0
		height: 0
		border-left: 17px solid transparent
		border-right: 17px solid transparent
		position absolute
		border-top 13px solid $color-theme[2]
		content ""
		top 24px
		left 45px

.qualitat
	&:after
		width: 0
		height: 0
		border-left: 17px solid transparent
		border-right: 17px solid transparent
		position absolute
		border-top 13px solid $color-theme[3]
		content ""
		top 24px
		left 45px

.internationale
	&:after
		width: 0
		height: 0
		border-left: 17px solid transparent
		border-right: 17px solid transparent
		position absolute
		border-top 13px solid $color-theme[4]
		content ""
		top 24px
		left 45px

.color-link
	box-sizing border-box
	display table-cell
	vertical-align middle
	padding 0 7px
	height $height
	width $width
	letter-spacing -1px
	text-transform uppercase

.display-container
	margin-top 10px
	width 432px
	min-height 400px
	display block

.credentials-page
	width: 464px;

.display-item
	cursor pointer
	float left
	opacity 0.6
	margin 0 5px 6px 0

	&.active
		opacity 1

		.display-info
			display block
			opacity 1

	&:hover
		opacity 1

.display-info
	position absolute
	width 280px
	right 0
	top 83px
	display none
	opacity 0
	animation show 0.5s

	img
		float right

.credentials-info
	padding 0 0 0 29px

.credendials-item
	padding 41px 39px 0 0

.teaser-paginator
	margin-top 57px
	width: 726px
	@extend .clearfix

.teaser-item
	width 226px
	float left
	margin-right 24px

.last-teaser-item
	margin-right 0

.teaser-caption
	margin-top 11px
	font-size 11px

@keyframes show
	0%
		opacity 0

	100%
		opacity 100%

.teaser-menu
	width 281px
	height 77px
	float left
	border-top 1px solid
	border-bottom 1px solid
	padding-bottom 12px

.teaser-menu-item
	padding-top 12px
	font-size 11px

	&:hover
		color #000


