@import 'imports'

shadow(pos = false)
	content ''
	position absolute
	top -15px
	bottom -15px
	box-shadow 0 0 15px 10px rgba(0, 0, 0, .2)
	z-index: -1

	if pos
		left 0
	else
		right 0

html
	position relative
	min-height 100%

	&:before
		shadow(true)

	&:after
		shadow()

body
	padding-bottom 50px

.container
	width 726px
	margin 0 auto
	display block
	position relative

	@extend .clearfix

.min-height
	min-height 440px;

.header-container
	height 93px
	border-bottom solid 1px orange

.logo
	width 148px
	height 44px
	background-image url('../img/logo.png')
	text-indent -99999px
	float left
	margin 37px 0 0 2px

.select-lang
	display block
	float right
	margin-top 14px

.select-lang-container
	width inherit
	height inherit
	float right

.lang-item
	padding-left 4px
	float left
	display block

	&:first-child
		border-right solid 1px #bbbcbc
		padding-right 4px

.lang-link
	float left
	text-decoration none

	&.active
		font-weight bold

.global-search
	margin-top 9px
	float right
	clear right

.global-search-input
	width 133px
	height 17px
	border solid 1px #bbbcbc
	font-family Verdana, Geneva, sans-serif
	font-size 10px
	color #929191
	padding-left 2px

.header-nav
	margin-top 20px
	float right
	clear right

.nav-item
	display inline-block
	margin-left 22px

footer
	position absolute
	bottom 0
	left 0
	right 0
	color #fff
	background-color rgba(0, 0, 0, .15)
	overflow hidden
	margin 85px 0 0

	.container
		padding 0 29px 0 14px
		box-sizing border-box
		height 35px
		background-color $color-theme-main

.footer-contact
	float right
	margin 13px 0 0 30px

.contact-item
	display inline-block
	margin-left 30px

.copyright-info
	float left
	color #fff
	line-height 35px

.col-main
	width 427px

.shelf
	margin-top 32px
	overflow hidden
	animation show 0.8s
	opacity 1

.shelf-item
	cursor pointer
	float left
	margin 0 58px 33px 0
	width 95px
	line-height: 16px
	font-size: 11px

.invisible
	opacity 0
	display none

.invisible-shelf
	margin-top 10px
	width 460px
	display block

.bt-shelf
	font-weight bold
	font-size 11px
	color #000
	cursor poiter

.display-download
	position absolute
	width 280px
	right 0
	top 83px
	display none
	opacity 0
	animation show 0.5s

	&.active
		opacity 1
		display block

.teaser-box
	overflow hidden
	margin 13px 0 0

	.main-title:first-of-type
		margin-top 0

.colored-teaser
	display block

.teaser-description
	float right
	display block
	width 432px
	padding-top 12px
	border-top 1px solid
	font-size 11px
	font-weight bold
	text-align:justify
	line-height 22px

.umwelt-styles
	.main-title
		color $color-theme[0]
		border-color $color-theme[0]
		border-bottom none

	.teaser-menu
		border-color $color-theme[0]

	.teaser-description
		border-color $color-theme[0]

	.internal-top
		border-color $color-theme[0]

	.highlight-title
		color $color-theme[0]

.energie-styles
	.main-title
		color $color-theme[1]
		border-color $color-theme[1]
		border-bottom none

	.teaser-menu
		border-color $color-theme[1]

	.teaser-description
		border-color $color-theme[1]

	.internal-top
		border-color $color-theme[1]

	.highlight-title
		color $color-theme[1]

.arbeit-styles
	.main-title
		color $color-theme[2]
		border-color $color-theme[2]
		border-bottom none

	.teaser-menu
		border-color $color-theme[2]

	.teaser-description
		border-color $color-theme[2]

	.internal-top
		border-color $color-theme[2]

	.highlight-title
		color $color-theme[2]

.qualitat-styles
	.main-title
		color $color-theme[3]
		border-color $color-theme[3]
		border-bottom none

	.teaser-menu
		border-color $color-theme[3]

	.teaser-description
		border-color $color-theme[3]

	.internal-top
		border-color $color-theme[3]

	.highlight-title
		color $color-theme[3]

.internationale-styles
	.main-title
		color $color-theme[4]
		border-color $color-theme[4]
		border-bottom none

	.teaser-menu
		border-color $color-theme[4]

	.teaser-description
		border-color $color-theme[4]

	.internal-top
		border-color $color-theme[4]

	.highlight-title
		color $color-theme[4]

.article
	float right
	display none
	width 432px
	font-size 11px
	font-weight bold
	text-align:justify
	line-height 22px

.article:target
	display block

.internal-top
	border-top 1px solid
	border-bottom 1px solid
	height 82px
	padding-top 7px
	font-weight initial

.teaser-info
	display none
	margin-top 12px
	background-color #eaecdf
	float left
	width 257px

	padding 12px 12px
	line-height: 18px;

	a
		font-size 11px
		margin-bottom 12px
	img
			margin 20px 0 18px 80px

	.underline
		text-decoration underline
		margin-left: 10px;
