.slider
	margin 10px 0

.slider-container
	overflow hidden
	position relative
	height 389px

.slider-item
	position absolute
	top 0
	left 0
	width 100%
	height 100%
	text-align center
	background url('../../img/slide1.jpg') center center
	font-size 50px

	&.current
		z-index: 5

	&.prev
		z-index: 4

.slider-bullets
	margin 10px 0 0
	text-align center

	.slider-bullet
		display inline-block
		margin 0 2px
		width 8px
		height 8px
		background gray
