// @font-face
// 	font-family 'Name'
// 	font-style normal
// 	src url('../font/font-name.eot')
// 	src: url('../font/font-name.eot?#iefix') format('embedded-opentype'),
// 	url('../font/font-name.woff') format('woff'),
// 	url('../font/font-name.ttf') format('truetype'),
// 	url('../font/font-name.svg#font-id') format('svg')

body
	font-family Verdana, Geneva, sans-serif
	font-size 9px
	color #929191

a
	color inherit
	text-decoration none

strong
	font-weight bold

.strong-title
	color #000


.link
	text-decoration underline
	color #0000ff

.mail-link
	text-decoration underline
	color #0000ff

.teaser-link
	color #f08700


.main-title
	margin-top 41px
	border-top solid 5px #f08700
	border-bottom solid 2px #f08700
	color  #f08700
	padding 7px 0 7px 2px
	font-size 11px
	font-weight bold

.highlight-title
	margin-top 20px
	color #f08700
	font-size 11px
	font-weight bold


.plain
	margin: 22px 0 0 0;
	line-height: 18px;
	font-size: 11px;
	text-align: justify;

.company-info
	font-size 11px
	font-weight bold
	line-height 20px
	margin-top 15px



